PORT=8083

# Database configuration Shared between Bidding and Wallet modules
DB_URL=jdbc:postgresql://localhost:5435/auction_wallet_db
DB_USERNAME=db_username_here
DB_PASSWORD=db_password_here

# RabbitMQ configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Gateway integration
GATEWAY_SECRET=gateway_secret_here
