PORT=8083

DB_URL=jdbc:postgresql://localhost:5435/auction_wallet_db
DB_USERNAME=db_username_here
DB_PASSWORD=db_password_here

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

GATEWAY_SECRET=gateway_secret_here
GRPC_SERVER_PORT=9090
AUTH_GRPC_ADDRESS=static://localhost:9091
CATALOG_GRPC_ADDRESS=static://localhost:9092
AUTH_SERVICE_URL=http://localhost:8081
